# Hasil Testing

## flutter analyze
```
Analyzing 04-week-4-networking-rest-api...
No issues found! (ran in 13.9s)
```

## flutter test
```
00:03 +3: All tests passed!
```